{# {% block pageTitle %}Ajout d'un jeu de données{% endblock %}
{% block lineTitleLink %}Jeu de données{% endblock %}
{% block pagecontent %} #}

{# {% verbatim %} #}


<div class="portlet box blue">
	<div class="portlet-title">
		<div class="caption">
			<i class="fa fa-reorder"></i>Formulaire de jeu de données
		</div>
	</div>
	<div class="portlet-body form">
		<!-- BEGIN FORM-->
		<form ng-submit="submit()" class="form-horizontal">
			<div class="form-body">
				<div class="form-group">
					<label class="col-md-3 control-label">Titre</label>
					<div class="col-md-4">
						<input data-ng-model="dataset.title" type="text" class="form-control" placeholder="votre titre" value="{[{dataset.title}]}">
					</div>

				</div>
				<div class="form-group">
					<label class="col-md-3 control-label">Description</label>
					<div class="col-md-4">
						<div class="col-md-12">
							<textarea data-ng-model="dataset.description" class="form-control" rows="5">{[{dataset.description}]}</textarea>
						</div>
					</div>
				</div>
			</div>
			<div class="form-actions fluid">
				<div class="col-md-offset-3 col-md-9">
					<button type="submit" class="btn blue">Enregister</button>
					<button data-ng-if="!noDelete" type="button" class="btn default" ng-click="showModal()">Supprimer</button>
				</div>
			</div>
		</form>
		<!-- END FORM-->
	</div>
</div>

{# {% endverbatim %} #}

{# {% endblock %} #}