{# Création de la source + datatable + databinding etc.. #}
{% trans_default_domain "formSource" %}
<div class="row profile">
	<div class="col-md-10">
	</div>
	<div class="col-md-2">
		<button data-ng-click="submitSource()" class="btn red"><i class="fa fa-cloud"></i> {{ 'formSource.publish'|trans }}</button>
	</div>
	<div class="col-md-12">
		<!--BEGIN TABS-->
		<div class="tabbable tabbable-custom tabbable-full-width" data-ng-controller="panelController as panel">
			<ul class="nav nav-tabs">
				<li ng-class="{active: panel.isSelected(1)}">
					<a data-ng-click="panel.selectTab(1)" data-toggle="tab">{{ 'formSource.sourceManage'|trans }}</a>
				</li>
				<li ng-class="{active: panel.isSelected(2)}">
					<a data-ng-click="panel.selectTab(2)" data-toggle="tab">{{ 'formSource.metadata'|trans }}</a>
				</li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane" data-ng-class="{active: panel.isSelected(1)}" data-ng-show="panel.isSelected(1)">
					{% include 'DatacityPrivateBundle:Partials:Include/sourceManager.html.twig' %}
				</div>

				<div class="tab-pane" data-ng-class="{active: panel.isSelected(2)}" data-ng-show="panel.isSelected(2)">
					{% include 'DatacityPrivateBundle:Partials:Include/sourceMeta.html.twig' %}
				</div>
				<!--end tab-pane-->
			</div>
		</div>
		<!--END TABS-->
	</div>
</div>