{# Création de la source + datatable + databinding etc.. #}
<div class="row profile">
	<div class="col-md-10">
	</div>
	<div class="col-md-2">
		<button data-ng-click="submitSource()" class="btn red"><i class="fa fa-cloud"></i> Publier la source</button>
	</div>
	<div class="col-md-12">
		<!--BEGIN TABS-->
		<div class="tabbable tabbable-custom tabbable-full-width" data-ng-controller="panelController as panel">
			<ul class="nav nav-tabs">
				<li ng-class="{active: panel.isSelected(1)}">
					<a data-ng-click="panel.selectTab(1)" data-toggle="tab">Gestion de source</a>
				</li>
				<li ng-class="{active: panel.isSelected(2)}">
					<a data-ng-click="panel.selectTab(2)" data-toggle="tab">Métadonnées</a>
				</li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane" data-ng-class="{active: panel.isSelected(1)}" data-ng-show="panel.isSelected(1)" data-ng-include="template.sourceManager">
				</div>

				<div class="tab-pane" data-ng-class="{active: panel.isSelected(2)}" data-ng-show="panel.isSelected(2)" data-ng-include="template.sourceMeta">
				</div>
				<!--end tab-pane-->
			</div>
		</div>
		<!--END TABS-->
	</div>
</div>