{% trans_default_domain "index" %}
{% verbatim %}
<div class="tiles container">
	<div class="tile bg-green" data-ng-click="$state.go('profile.mainView')">
		<div class="tile-body">
			<i class="fa fa-user"></i>
		</div>
		<div class="tile-object">
			<div class="name">
				{% endverbatim %}{{ 'index.profile'|trans }}{% verbatim %}
			</div>
			<div class="number">
			</div>
		</div>
	</div>
	<div class="tile bg-blue" data-ng-click="$state.go('datasetList')">
		<div class="tile-body">
			<i class="fa fa-bar-chart-o"></i>
		</div>
		<div class="tile-object">
			<div class="name">
				{% endverbatim %}{{ 'index.datasets'|trans }}{% verbatim %}
			</div>
			<div class="number">
			</div>
		</div>
	</div>
	<div class="tile bg-blue" data-ng-click="$state.go('userApplications')">
		<div class="tile-body">
			<i class="fa fa-cogs"></i>
		</div>
		<div class="tile-object">
			<div class="name">
				 Applications
			</div>
			<div class="number">
			</div>
		</div>
	</div>
	<div class="tile bg-red">
		<div class="tile-body">
			<i class="fa fa-comments"></i>
		</div>
		<div class="tile-object">
			<div class="name">
				 Tickets
			</div>
			<div class="number">
			</div>
		</div>
	</div>
</div>
{% endverbatim %}
