{% verbatim %}

<div class="portlet box blue">
	<div class="portlet-title">
		<div class="caption">
			<i class="fa fa-reorder"></i>Gestion d'une source
		</div>
	</div>
	<div class="portlet-body form">
		<!-- BEGIN FORM-->
		<form action="#" class="form-horizontal">
			<div class="form-body">
				<h3 class="form-section">Description de la source</h3>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label class="control-label col-md-3">Titre <strong style="color:red;">*</strong></label>
							<div class="col-md-9">
								<input type="text" class="form-control" placeholder="Titre" ng-model="meta.title">
							</div>
						</div>
					</div>

					<div class="col-md-6">
						<div class="form-group">
							<label class="control-label col-md-3">Couverture téritoriale <strong style="color:red;">*</strong></label>
							<div class="col-md-9">
								<button type="button" class="btn btn-default form-control" ng-model="meta.selectedCategory" data-html="1" data-animation="am-flip-x" placeholder="Choisissez la couverture territoriale" ng-options="coverage.id as coverage.name for coverage in meta.coverageTerritory" bs-select>
								</button>
							</div>
						</div>
					</div>
					<!--/span-->
				</div>
				<!--/row-->
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label class="control-label col-md-3">Catégories <strong style="color:red;">*</strong></label>
							<div class="col-md-9">
								<button type="button" class="btn btn-default form-control" ng-model="meta.selectedCategory" data-html="1" data-multiple="1" data-animation="am-flip-x" placeholder="Choisissez la catégorie" ng-options="category.id as category.name for category in meta.categories" bs-select>
								</button>
							</div>
						</div>
					</div>
					<!--/span-->
					<div class="col-md-6">
						<div class="form-group">
							<label class="control-label col-md-3">Fréquence</label>
							<div class="col-md-9">
								<button type="button" class="btn btn-default form-control" ng-model="meta.selectedFrequency" data-html="1" data-animation="am-flip-x" placeholder="Choisissez la fréquence de mise à jour" ng-options="frequency.id as frequency.name for frequency in meta.frequency" bs-select>
								</button>								
							</div>
						</div>
					</div>
					
				</div>
				<!--/row-->
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label class="control-label col-md-3">Licence <strong style="color:red;">*</strong></label>
							<div class="col-md-9">
								<button type="button" class="btn btn-default form-control" ng-model="meta.selectedLicence" data-html="1" data-animation="am-flip-x" placeholder="Choisissez la licence" ng-options="licence.id as licence.name for licence in meta.licence" bs-select>
								</button>
							</div>
						</div>
					</div>

					<!--/span-->
					<div class="col-md-6">
						<div class="form-group">
							<label class="control-label col-md-3">Lien</label>
							<div class="col-md-9">
								<input type="text" class="form-control" placeholder="Lien du fichier où provient la source" ng-model="meta.link">
								<span data-ng-if="submitEvent && meta.link" class="help-block">
									Champ obligatoire						
								</span>
							</div>
						</div>
					</div>
					<!--/span-->
				</div>
				<!--/row-->
				
				<h3 class="form-section">Détails de la source</h3>
				<!--/row-->
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label class="control-label col-md-3">Données depuis le</label>
							<div class="col-md-9">
								<input type="text" class="form-control" ng-model="meta.dateBegin" data-date-viewmode="years" datepicker />
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label class="control-label col-md-3">Jusqu'à</label>
							<div class="col-md-9">
								<input type="text" class="form-control" ng-model="meta.dateEnd" data-date-viewmode="years" datepicker />
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="form-actions fluid">
				<div class="row">
					<div class="col-md-6">
						<div class="col-md-offset-3 col-md-9">
						</div>
					</div>
					<div class="col-md-6">
					</div>
				</div>
			</div>
		</form>
		<!-- END FORM-->
	</div>
</div>
{% endverbatim %}