{% verbatim %}
<!-- File Uploader -->

<input type="file" ng-file-select="onFileSelect($files)" >
<hr/>
<button class="btn btn-primary" ng-click="getJSON()">Upload</button>
<hr/>

<!-- END File Uploader -->
<div class="row">
	<div class="col-md-8" style="height: 400px" class="gridStyle" ng-grid="gridOptions">
	</div>
	<div class="col-md-4" >
		<div class="portlet box blue">
			<div class="portlet-title">
				<div class="caption">
					<i class="fa fa-reorder"></i>Modèles
				</div>
				<div class="tools">
					<a href="javascript:;" class="collapse"></a>
				</div>
			</div>
			<div class="portlet-body">
				<div class="row">
					<div class="col-md-12">
						<div class="input-group">
							<input id="inputModel" type="text" class="form-control">
							<span class="input-group-btn">
								<button ng-click="addCategoryModel" class="btn blue" type="button">Ajouter au modèle</button>
							</span>
						</div>
						<!-- /input-group -->
					</div>
				</div>
				<div class="clearfix">
					<div id="categoryModelContainer" class="block">
						<hr/>
						<p> Categories: </p>
						<div data-ng-repeat="column in dataModel">
							<div style="line-height: 20%;">
								<br/>
							</div>
							<button class="btn blue" data-ng-style="{'background-color': column.color}" style="color: white;" type="button" data-ng-click="categorySelected(column.color)">{{column.name | uppercase}}</button>
						</div>

					</div>

				</div>
				<hr/>
				Couleur choisie: <span data-ng-style="{'background-color': selectedColor}" class="boxColored">&nbsp;</span>
			</div>
		</div>

	</div>




	



</div>
<!--<button type="button" ng-click="update_columns($event)">Change Columns</button>-->
<!--<div> {{myData}}</div>-->
{% endverbatim %}
