<div class="row">
	<div class="col-md-8">
		<div class="add-portfolio">
			<span>
				Jeux de données ajoutés
			</span>
			<a ui-route data-ui-sref="addDS()" class="btn icn-only green">Ajoutez un nouveau Projet <i class="m-icon-swapright m-icon-white"></i></a>
		</div>
	</div>
	<div class="col-md-4">
		<!-- BEGIN Portlet PORTLET-->
		<div class="portlet box grey">
			<div class="portlet-title">
				<div class="caption">
					<i class="fa fa-eye"></i> Options d'affichage
				</div>
				<div class="tools">
					<a ng-model="collapsed" ng-click="collapsed=!collapsed" class="collapse"></a>
				</div>
			</div>
			<div class="portlet-body" ng-show="collapsed">
				<form action="#" class="">
					<table class="table table-bordered table-striped table-publication">
						<tr>
							<td>
								Autoriser tout le monde à voir mes publications
							</td>
							<td>
								<label class="uniform-inline">
									<input type="checkbox" value=""/> Oui 
								</label>
							</td>
						</tr>
						<tr>
							<td>
								Autoriser mes abonnés à voir mes publications
							</td>
							<td>
								<label class="uniform-inline">
									<input type="checkbox" value=""/> Oui 
								</label>
							</td>
						</tr>
						<tr>
							<td>
								Autoriser mes abonnements à voir mes publications
							</td>
							<td>
								<label class="uniform-inline">
									<input type="checkbox" value=""/> Oui 
								</label>
							</td>
						</tr>
					</table>
					<!--end profile-settings-->
					<div class="margin-top-10">
						<a href="#" class="btn green">Enregistrer</a>
						<a href="#" class="btn default">Quitter</a>
					</div>
				</form>
			</div>
		</div>
		<!-- END Portlet PORTLET-->
	</div>
</div>
<!--end add-portfolio-->
<div class="row portfolio-block" data-ng-repeat="dataset in user.datasets">
	<div class="col-md-4">
		<div class="portfolio-text">
			<!-- TODO: Remove le Css et la taille de l'image. Rajouter dans l'entite la fonction qui va piocher une image en fonction d'une catégorie du dataset -->
			<img ng-src="{[{dataset.picture || 'http://www.keenthemes.com/preview/metronic/assets/admin/pages/media/profile/logo_azteca.jpg'}]}" style="height: 80px; width: 80px" alt=""/>
			<div class="portfolio-texnfo">
				<h4>{[{dataset.title || "Pas de nom"}]}</h4>
				<p>
					{[{dataset.description  || "Pas de description" | limitTo:42}]}
				</p>
			</div>
		</div>
	</div>
	<div class="col-md-6 portfolio-stat">
		<div class="portfolio-info">
			Visité
			<span>
				{[{dataset.visitedNb}]} fois
			</span>
		</div>
		<div class="portfolio-info">
			Noté comme utile
			<span>
				{[{dataset.usefullNb}]} fois
			</span>
		</div>
	</div>
	<div class="col-md-2">
		<div class="portfolio-btn">
			<!-- Route vers le Back pour l'édition on appelle le state du module ui.routeur dans app.js a partir de l'id du dataset récupéré précédemment -->
			<a data-ui-sref="editDS({slug: dataset.slug})" class="btn bigicn-only">
				<span>
					Gérer
				</span>
			</a>
		</div>
	</div>
</div>
<!--end row-->
