<div class="row">
	<div class="col-md-12">
		<div class="add-portfolio">
			<span>
				502 Items sold this week
			</span>
			<a href="#" class="btn icn-only green">Add a new Project <i class="m-icon-swapright m-icon-white"></i></a>
		</div>
	</div>
</div>
<!--end add-portfolio-->
<div class="row portfolio-block">
	<div class="col-md-5">
		<div class="portfolio-text">
			<img src="assets/img/profile/portfolio/logo_metronic.jpg" alt=""/>
			<div class="portfolio-text-info">
				<h4>Metronic - Responsive Template</h4>
				<p>
					Lorem ipsum dolor sit consectetuer adipiscing elit.
				</p>
			</div>
		</div>
	</div>
	<div class="col-md-5 portfolio-stat">
		<div class="portfolio-info">
			Today Sold
			<span>
				187
			</span>
		</div>
		<div class="portfolio-info">
			Total Sold
			<span>
				1789
			</span>
		</div>
		<div class="portfolio-info">
			Earns
			<span>
				$37.240
			</span>
		</div>
	</div>
	<div class="col-md-2">
		<div class="portfolio-btn">
			<a href="#" class="btn bigicn-only">
				<span>
					Manage
				</span>
			</a>
		</div>
	</div>
</div>
<!--end row-->
<div class="row portfolio-block">
	<div class="col-md-5 col-sm-12 portfolio-text">
		<img src="assets/img/profile/portfolio/logo_azteca.jpg" alt=""/>
		<div class="portfolio-text-info">
			<h4>Metronic - Responsive Template</h4>
			<p>
				Lorem ipsum dolor sit consectetuer adipiscing elit.
			</p>
		</div>
	</div>
	<div class="col-md-5 portfolio-stat">
		<div class="portfolio-info">
			Today Sold
			<span>
				24
			</span>
		</div>
		<div class="portfolio-info">
			Total Sold
			<span>
				660
			</span>
		</div>
		<div class="portfolio-info">
			Earns
			<span>
				$7.060
			</span>
		</div>
	</div>
	<div class="col-md-2 col-sm-12 portfolio-btn">
		<a href="#" class="btn bigicn-only">
			<span>
				Manage
			</span>
		</a>
	</div>
</div>
<!--end row-->
<div class="row portfolio-block">
	<div class="col-md-5 portfolio-text">
		<img src="assets/img/profile/portfolio/logo_conquer.jpg" alt=""/>
		<div class="portfolio-text-info">
			<h4>Metronic - Responsive Template</h4>
			<p>
				Lorem ipsum dolor sit consectetuer adipiscing elit.
			</p>
		</div>
	</div>
	<div class="col-md-5 portfolio-stat">
		<div class="portfolio-info">
			Today Sold
			<span>
				24
			</span>
		</div>
		<div class="portfolio-info">
			Total Sold
			<span>
				975
			</span>
		</div>
		<div class="portfolio-info">
			Earns
			<span>
				$21.700
			</span>
		</div>
	</div>
	<div class="col-md-2 portfolio-btn">
		<a href="#" class="btn bigicn-only">
			<span>
				Manage
			</span>
		</a>
	</div>
</div>
								<!--end row-->