<div class="booking-results">
	<div class="col-md-8 followed-user">
		<div class="booking-result">
			<div class="booking-img">
				<div class="follow-img-container">
					<img class="follow-img" src="https://lh4.googleusercontent.com/-j-HUmZQ5lxQ/AAAAAAAAAAI/AAAAAAAAAAA/TQLUtDjlDMo/photo.jpg" alt="">
				</div>
			</div>
			<div class="booking-info">
				<h2><a href="#">Here Any Title</a></h2>
				<a class="btn blue follow-btn"><i class="fa fa-plus"></i>  S'abonner</a>
				<ul class="stars list-inline">
					<li>
						<i class="fa fa-briefcase"></i> Vendeur de poules
					</li>
					<li>
						<i class="fa fa-map-marker"></i> Tioman, Malaysia
					</li>
					<li>
						<i class="fa fa-calendar"></i> Inscrit depuis le 10-12-2004
					</li>
					<li>
						<i class="fa fa-dot-circle-o"></i> 5236 Point(s)
					</li>
					<p class="pertinence-text"> Pertinence des donnees : </p>
					<li>
						<i class="fa fa-star"></i>
					</li>
					<li>
						<i class="fa fa-star"></i>
					</li>
					<li>
						<i class="fa fa-star"></i>
					</li>
					<li>
						<i class="fa fa-star"></i>
					</li>
					<li>
						<i class="fa fa-star-o"></i> 
					</li>
				</ul>
				<p>
					At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum. <a href="#">read more...</a>
				</p>
			</div>
		</div>
	</div>
	<hr class="fancy-line col-md-7-5"></hr>
	<div class="col-md-8 followed-user">
		<div class="booking-result">
			<div class="booking-img">
				<div class="follow-img-container">
					<img class="follow-img" src="http://raphael-amar.com/blog/file/2014/06/datacity.png" alt="">
				</div>
			</div>
			<div class="booking-info">
				<h2><a href="#">Here Any Title</a></h2>
				<a class="btn dark follow-btn"><i class="fa fa-times"></i>  Se désabonner</a>
				<ul class="stars list-inline">
					<li>
						<i class="fa fa-briefcase"></i> Chasseur de Cedric sauvage
					</li>
					<li>
						<i class="fa fa-map-marker"></i> Tioman, Malaysia
					</li>
					<li>
						<i class="fa fa-calendar"></i> Inscrit depuis le 10-12-2004
					</li>
					<li>
						<i class="fa fa-dot-circle-o"></i> 5236 Point(s)
					</li>
					<p class="pertinence-text"> Pertinence des donnees : </p>
					<li>
						<i class="fa fa-star"></i>
					</li>
					<li>
						<i class="fa fa-star"></i>
					</li>
					<li>
						<i class="fa fa-star"></i>
					</li>
					<li>
						<i class="fa fa-star"></i>
					</li>
					<li>
						<i class="fa fa-star-o"></i>
					</li>
				</ul>
				<p>
					At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum. <a href="#">read more...</a>
				</p>
			</div>
		</div>
	</div>
</div>