<div class="row">
	<div data-ng-controller="panelController as panel">
		<ul class="list-unstyled profile-nav col-md-3">
			<li>
				<div class="profile-img-container">
					<!-- Manque le lien dans le champ user.img + placer ng-show dans l'image par defaut -->
					<!-- <img class="profile-img" ng-show="user.img" src="user.img" alt=""> -->
					<img class="profile-img" id="profileImg" src="http://raphael-amar.com/blog/file/2014/06/datacity.png" alt=""/>
				</div>
				<a class="profile-edit" data-ng-href="./#/user/show/settings/picture">Éditer</a>
			</li>
			<hr/>
			<li ng-class="{active: panel.isSubSelected(1)}">
				<a data-ng-click="panel.selectSubTab(1)" data-toggle="tab">
					<i class="fa fa-user"></i> Profil
				</a>
			</li>
			<li ng-class="{active: panel.isSubSelected(2)}">
				<a data-ng-click="panel.selectSubTab(2)" data-toggle="tab">
					 Abonnements
					<span>
						2
					</span>
				</a>
			</li>
			<li ng-class="{active: panel.isSubSelected(3)}">
				<a data-ng-click="panel.selectSubTab(3)" data-toggle="tab">
					 Abonnés
					<span>
						2
					</span>
				</a>
			</li>
		</ul>
		<div>
			<div class="tab-pane" data-ng-class="{active: panel.isSubSelected(1)}" data-ng-show="panel.isSubSelected(1)" data-ng-include="template.userOverview">

			</div>
			<!--tab_1_2-->
			<div class="tab-pane" data-ng-class="{active: panel.isSubSelected(2)}" data-ng-show="panel.isSubSelected(2)" data-ng-include="template.userFollowed">

			</div>
			<!--end tab-pane-->
			<div class="tab-pane" data-ng-class="{active: panel.isSubSelected(3)}" data-ng-show="panel.isSubSelected(3)" data-ng-include="template.userFollowers">

			</div>
			<!--end tab-pane-->
		</div>
	</div>
</div>
