{% verbatim %}
<div class="row profile" data-ng-controller="userController">
	<div class="col-md-12">
		<!--BEGIN TABS-->
		<div class="tabbable tabbable-custom tabbable-full-width profile-table">
			<ul class="nav nav-tabs">
				<li ng-repeat="t in tabs" data-ng-class="{active:t.active}">
					<a data-toggle="tab" data-ng-click="go(t.route)">{{t.heading}}</a>
				</li>

			</ul>
			<div class="tab-content">
                <div ui-view></div>
			</div>
		</div>
		<!--END TABS-->
	</div>
</div>
{% endverbatim %}