<table id="table" border="0" cellpadding="0" cellspacing="0" class="global_text_color_mod" style="width:755px; font-size:10px; font-family:arial; background-color:white;">
			<tbody>
			<tr id="body" style="font-size:13px;" valign="top">
				{{ message }}
			</tr>

			<tr id="bottom_space" valign="top">
				<td colspan="3" style="height:16px; width:755px;"></td>
			</tr>
			<tr id="bottom" valign="top">
				<td colspan="3" style="font-size: 7px; text-align:center; padding-top:3px;">
<br><br>
Vous pouvez vous désinscrire de cette newsletter en vous connectant sur votre compte <a href="{{homepage}}">{{ homepage }}</a>.
<br><br>
Merci de ne pas répondre à ce message automatique.
<br>
				</td>
			</tr>
		</tbody>
</table>

