{# Called by DatacityPublicBundle:Template:body.html.twig:93 #}
{# DRAFT #}
<div class="headnav">
	<ul>
		<li>{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}</li>
		<li><a href="{{ path('fos_user_profile_show') }}">Profil</a></li>
		<li><a href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a></li>
	</ul>
</div>
