{% trans_default_domain 'FOSUserBundle' %}

<div class="span12 margintop20">
	<form class="form-horizontal" action="{{ path('fos_user_resetting_reset', {'token': token}) }}" {{ form_enctype(form) }} method="POST" class="fos_user_resetting_reset">
	    {{ form_widget(form, {'form_type': 'horizontal'}) }}
	   	<div class="control-group">
		    <div class="controls">
	        	<button type="submit" class="btn btn-theme">{{ 'resetting.reset.submit'|trans }}</button>
	  		</div>
	  	</div>
	</form>
</div>
