{# DEPRECATED #}
{% verbatim %}
<div data-tabset data-ng-controller="visualizatorCtrl">
    <div data-tab data-heading="Tableau">TODO Should load [{{dataId}}]</div>
    <div data-tab data-heading="Graphique">
      TODO
    </div>
</div>
{% endverbatim %}