.horizontal-data-bloc {
	cursor: pointer;
}

.horizontal-data-bloc:hover {
	background-color: #EDEDED;
}

.horizontal-data-bloc-title {
	margin-bottom: 0px;
}

.horizontal-data-bloc-bottom {
	float:left;
	width:100%;
	border-bottom:1px solid #e9e9e9;
	padding:10px 0 10px 0;
}

.data-links {
	float: left;
	width: 100%;
	margin-bottom: 40px;
}

.data-left {
	float: left;
}

.visualizator {
	margin-bottom: 40px;
}

/* ui-bootstrap stuff */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }