<div class="modal" tabindex="-1" role="dialog">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
	<button type="button" class="close" ng-click="$hide()">&times;</button>
	<h4 class="modal-title">Attention</h4>
</div>
<div class="modal-body" ng-show="content">
	<p>Les fichiers suivants ne seront pas inclus : </p>
	<ul data-ng-bind-html="content"></ul>
	<p>Continuer ?</p>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-default" ng-click="$hide()">Annuler</button>
	<button type="button" class="btn btn-primary" ng-click="continueModal($hide)">Continuer</button>
</div>
</div>
</div>
</div>