{% trans_default_domain "datasetWizard" %}
<div class="modal" tabindex="-1" role="dialog">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
	<button type="button" class="close" ng-click="$hide()">&times;</button>
	<h4 class="modal-title">{{ 'datasetWizard.renameField'|trans }}</h4>
</div>
<div class="modal-body">
	<form action="" class="form-horizontal">
		<div class="form-body">
			<div class="form-group">
				<label class="control-label col-md-3">{{ 'datasetWizard.nameField'|trans }} <strong style="color:red;">*</strong></label>
				<div class="col-md-9">
					<input type="text" class="form-control" data-ng-model="content" data-focus-me="focusInputRename"
						data-ui-keypress="{'enter':'confirmRenameModal($hide, content)'}" maxlength="17">
				</div>
			</div>
		</div>
	</form>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-default" data-ng-click="$hide()">{{ 'datasetWizard.cancel'|trans }}</button>
	<button type="button" class="btn btn-primary" data-ng-click="confirmRenameModal($hide, content)">{{ 'datasetWizard.next'|trans }}</button>
</div>
</div>
</div>
</div>