<form action="#" class="form-horizontal">
	<div class="form-body">
		<h3 class="form-section">Information sur le jeux de donnée</h3>
		<div class="form-group">
			<label class="col-md-2 control-label">Titre <strong style="color:red;">*</strong></label>
			<div class="col-md-8">
				<input data-ng-model="$parent.meta.dataset.title" type="text" class="form-control" placeholder="Indiquez un titre">
			</div>

		</div>
		<div class="form-group">
			<label class="control-label col-md-2">Licence <strong style="color:red;">*</strong></label>
			<div class="col-md-8">
				<button type="button" class="btn btn-default form-control" ng-model="$parent.meta.dataset.license" data-html="1" data-animation="am-flip-x" placeholder="Choisissez la licence" ng-options="license.name as license.name for license in dataset.licenses" bs-select>
				</button>
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-2 control-label">Description</label>
			<div class="col-md-8">
				<textarea data-ng-model="$parent.meta.dataset.description" class="form-control" placeholder="Entrez une description" rows="5"></textarea>
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-2 control-label">Visibilité</label>
			<div class="col-md-8">
				<button type="button" class="btn btn-default form-control" ng-model="$parent.meta.dataset.visibility" data-html="1" data-animation="am-flip-x" placeholder="Choisissez la visibilité" ng-options="visibility for visibility in dataset.visibility" bs-select>
				</button>
			</div>
		</div>
		<h3 class="form-section">Information sur la source</h3>
		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<label class="control-label col-md-3">Titre <strong style="color:red;">*</strong></label>
					<div class="col-md-9">
						<input type="text" class="form-control" placeholder="Titre" ng-model="$parent.meta.source.title">
					</div>
				</div>
			</div>

			<div class="col-md-6">
				<div class="form-group">
					<label class="control-label col-md-3">Couverture térritoriale <strong style="color:red;">*</strong></label>

					<div class="col-md-9">
						<button type="button" class="btn btn-default form-control" ng-model="$parent.meta.source.coverageTerritory" data-html="1" data-animation="am-flip-x" placeholder="Choisissez la couverture territoriale" ng-options="coverage.name as coverage.name for coverage in meta.coverageTerritory" bs-select>
						</button>
					</div>
				</div>
			</div>
			<!--/span-->
		</div>
		<!--/row-->
		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<label class="control-label col-md-3">Catégories <strong style="color:red;">*</strong></label>
					<div class="col-md-9">
						<button type="button" class="btn btn-default form-control" ng-model="$parent.meta.source.category" data-html="1" data-multiple="1" data-animation="am-flip-x" placeholder="Choisissez la catégorie" ng-options="category.name as category.name for category in meta.categories" bs-select>
						</button>
					</div>
				</div>
			</div>
			<!--/span-->
			<div class="col-md-6">
				<div class="form-group">
					<label class="control-label col-md-3">Fréquence</label>
					<div class="col-md-9">
						<button type="button" class="btn btn-default form-control" ng-model="$parent.meta.source.frequency" data-html="1" data-animation="am-flip-x" placeholder="Choisissez la fréquence de mise à jour" ng-options="frequency.name as frequency.name for frequency in meta.frequencies" bs-select>
						</button>
					</div>
				</div>
			</div>

		</div>
		<!--/row-->
		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<label class="control-label col-md-3"><label><i class="fa fa-globe"></i> Localisation  </label><strong style="color:red;">*</strong></label>
					<div class="col-md-9">
						<input type="text" class="form-control" ng-model="$parent.meta.source.location" ng-options="address for address in getLocation($viewValue)" placeholder="Quelle localisation est concernée par votre source ?" bs-typeahead>
					</div>
				</div>
			</div>

			<!--/span-->
			<div class="col-md-6">
				<div class="form-group">
					<label class="control-label col-md-3">Lien</label>
					<div class="col-md-9">
						<input type="text" class="form-control" placeholder="Lien du fichier d'où provient la source" ng-model="$parent.meta.source.link">
						<span data-ng-if="submitEvent && meta.link" class="help-block">
							Champ obligatoire
						</span>
					</div>
				</div>
			</div>
			<!--/span-->
		</div>

		<h3 class="form-section">Détails de la source</h3>
		<!--/row-->
		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<label class="control-label col-md-3">Données depuis le</label>
					<div class="col-md-9">
						<input type="text" class="form-control" ng-model="$parent.meta.source.dateBegin" data-date-viewmode="years" datepicker />
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<label class="control-label col-md-3">Jusqu'à</label>
					<div class="col-md-9">
						<input type="text" class="form-control" ng-model="$parent.meta.source.dateEnd" data-date-viewmode="years" datepicker />
					</div>
				</div>
			</div>
		</div>
	</div>
</form>