{% extends 'DatacityPrivateBundle:Template:privatepagebody.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	{% stylesheets
		'bundles/datacityprivate/css/dataTable.css'
		'bundles/datacityprivate/css/DT_bootstrap.css'
		'bundles/datacityprivate/css/dashboard.css'
		filter='cssrewrite'
	%}
	    <link rel="stylesheet" href="{{ asset_url }}" />
	{% endstylesheets %}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{% javascripts
		'@DatacityPrivateBundle/Resources/public/js/api.js'
		'@DatacityPrivateBundle/Resources/public/js/jquery.dataTables.js'
	    '@DatacityPrivateBundle/Resources/public/js/file.upload.js'
	    '@DatacityPrivateBundle/Resources/public/js/dynamicDataTables.js'
	    '@DatacityPrivateBundle/Resources/public/js/DT_bootstrap.js'
	    '@DatacityPrivateBundle/Resources/public/js/csvparse.js'
	    '@DatacityPrivateBundle/Resources/public/js/csvjson.js'
	    '@DatacityPrivateBundle/Resources/public/js/bootstrap.file-input.js'
	    '@DatacityPrivateBundle/Resources/public/js/utils.js'
	%}
	<script type="text/javascript" src="{{ asset_url }}"></script>
	{% endjavascripts %}
{% endblock %}

{% block title %}Datacity -- Tableau de bord{% endblock %}
{% block pagetitle %}Tableau de bord{% endblock %}

{% block pagecontent %}
	<section id="content">
	<div class="container">
		
	<div class="row">
	<div class="span12">
		<div id="drop_zone">
			Drop files here or
			<form id="target">
				<input type="file" name="files[]" title="Add a File" multiple />
				<output id="list"></output>
				<button class="btn btn-primary" type="submit">Send File</button>
 			</form>
 			
		</div>			
	</div>
	
 	</div>
	 <div class="row">
	<div class="span10">
		<ul class="nav nav-tabs">
		<li class="current1"><a href="#tab1" data-toggle="tab"><i class="icon-briefcase"></i> One</a></li>
		<li class="current2"><a href="#tab2" data-toggle="tab">Two</a></li>
		<li class="current3"><a href="#tab3" data-toggle="tab">Three</a></li>
		<li class="current4"><a href="#tab4" data-toggle="tab">Table</a></li>
		</ul>
		<div class="tab-content">
			<div class="tab-pane" id="tab1">
			</div>
			<div class="tab-pane" id="tab2">
			</div>
			<div class="tab-pane" id="tab3">
			</div>
			<div class="tab-pane" id="tab4">
			</div>

		</div>
	</div>
	<div class="span2">
		 <div class="btn-group">
	                <button class="btn dropdown-toggle btn-blue" data-toggle="dropdown">Choir un modèle<span class="caret"></span></button>
	                <ul class="dropdown-menu">
	                  <li><a id="public-service">Service public</a></li>
	                  <li><a>Zoo de Montpellier</a></li>
	                  <li><a>Indice de pollution</a></li>
	                  <li><a>Dépences publiques</a></li>
	                </ul>
	              </div>
		<div class="models">	
		</div>
		<hr>
		Couleur choisie: <span class="boxColored">&nbsp;</span>
		<hr>
		<button class="btn btn-red final-merge">Fusionner les fichiers</button>

	</div>
	</div>
	</section>   
{% endblock %}
