{% extends 'DatacityPrivateBundle:Template:privatetemplate.html.twig' %}
{% block pageTitle %}Tableau de bord{% endblock %}
{% block lineTitleLink %}Tableau de bord{% endblock %}
{% block pagecontent %}
	
				<!-- File Uploader -->
				<div class="row custom-row-dropzone">
					<div class="col-md-12">
						<form action="#" class="dropzone" id="my-dropzone"></form>
					</div>
				</div>
				<!-- END File Uploader -->

				<!-- Window Of Uploaded Files -->
				<div class="row">

					<div class="col-md-12 col-sm-6">
						<div class="portlet box blue">
							<div class="portlet-title">
								<div class="caption">
									<i class="fa fa-cloud-download"></i>Fichiers uploadés sur le serveur
								</div>

							</div>
							<div class="portlet-body uploadbody">
								<div class="scroller" style="height: 150px;" data-always-visible="1" data-rail-visible="0">
									<ul class="feeds uploadedFiles">
									</ul>
								</div>

							</div>
						</div>
					</div>

				</div>
				<!-- End Window of Uploaded Files-->

				<!-- DATA TABLE -->

				<div class="row">
					<div class="col-md-8">
						<!-- BEGIN EXAMPLE TABLE PORTLET-->
						<div class="portlet box blue">
							<div class="portlet-title">
								<div class="caption">
									<i class="fa fa-edit"></i>Editable Table
								</div>
								<div class="tools">
									<a href="javascript:;" class="collapse"></a>
									<a href="#portlet-config" data-toggle="modal" class="config"></a>
									<a href="javascript:;" class="reload"></a>
									<a href="javascript:;" class="remove"></a>
								</div>
							</div>
							<div class="portlet-body">
								<div class="table-toolbar editablebody">
									<div class="col-md-12">
										<input type="text" class="form-control sourcename" placeholder="Enter the source's name">
										<br/>
										<input type="text" class="form-control categoryname" placeholder="Enter the category's name">
										<hr/>
									</div>

									<!-- <div class="btn-group">
										<button id="sample_editable_1_new" class="btn green">
											Add New <i class="fa fa-plus"></i>
										</button>
									</div>
									<div class="btn-group pull-right">
										<button class="btn dropdown-toggle" data-toggle="dropdown">Tools <i class="fa fa-angle-down"></i>
										</button>
										<ul class="dropdown-menu pull-right">
											<li>
												<a href="#">Print</a>
											</li>
											<li>
												<a href="#">Save as PDF</a>
											</li>
											<li>
												<a href="#">Export to Excel</a>
											</li>
										</ul>
									</div> -->
								</div>
								<table class="table table-striped table-hover table-bordered" id="sample_editable_1">
								</table>
							</div>
							<div class="uploadEditable">
								<button class="uploadSource btn green">Uploader la source</button>
							</div>
						</div>
						<!-- END EXAMPLE TABLE PORTLET-->
					</div>

					<!-- DataBiding Window -->
					<div class="col-md-4">

						<div class="portlet box blue">
							<div class="portlet-title">
								<div class="caption">
									<i class="fa fa-reorder"></i>Modèles
								</div>
							</div>
							<div class="portlet-body">

								<div class="row">
									<div class="col-md-12">
										<div class="input-group">
											<input id="inputModel" type="text" class="form-control">
											<span class="input-group-btn">
												<button id="addCategoryModel" class="btn blue" type="button">Ajouter au modèle</button>
											</span>
										</div>
										<!-- /input-group -->
									</div>
								</div>
								<div class="clearfix">
									<div id="categoryModelContainer" class="block">
										<hr/>
										<p> Categories: </p>
									</div>

								</div>
								<hr/>
								Couleur choisie: <span class="boxColored">&nbsp;</span>
							</div>
						</div>
					</div>
					<!-- END DataBiding Window-->
				</div>
{% endblock %}
{% block javascripts %}
{{ parent() }}
<script type="text/javascript">
	$("#nav-dashboard").addClass("active");
</script>
{% endblock %}
