{% extends 'DatacityPrivateBundle:Template:body.html.twig' %}
{% block bodyattr %}data-ng-app="app"{% endblock %}
{% block pageTitle %}
<div ng-bind="pageTitle">Espace utilisateur</div>
<small><div ng-bind="pageDescription">Accedez à vos informations et aux outils DataCity</div></small>
{% endblock %}
{% block lineTitleLink %}
<a data-ng-href="pageUrl" ng-bind="pageTitle"></a>
{% endblock %}

{% block pagecontent %}
<div data-ui-view></div>
{% endblock %}