{% extends 'DatacityPrivateBundle:Template:body.html.twig' %}
{% block bodyattr %}data-ng-app="app"{% endblock %}
{% block pageTitle %}
<span data-ng-bind="pageTitle">Espace utilisateur</span>
<small data-ng-bind="pageDescription">Accedez à vos informations et aux outils DataCity</small>
{% endblock %}
{% block lineTitleLink %}
    {% verbatim %}
<a data-ng-href="./#{{ pageUrl }}" data-ng-bind="pageTitle"></a>
    {% endverbatim %}
{% endblock %}

{% block pagecontent %}
<div data-ui-view></div>
{% endblock %}