{% extends 'DatacityPublicBundle:Template:pagebody.html.twig' %}

{% block title %}Datacity -- Page de vue des données{% endblock %}
{% block pagetitle %}Les données{% endblock %}
{% block pagename %}Les données{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
	<script>typeof angular || document.write('<script src="{{ asset('js/angular.js') }}"><\/script>')</script>
	{# TEMP #}
		<script src="https://code.angularjs.org/1.2.16/angular-mocks.js"></script>
	{# ENDTEMP #}
	{% javascripts
		'js/angular-mods.js'
		'js/ui-bootstrap.js'
	    '@DatacityPublicBundle/Resources/public/js/dataportal-app/app.js'
	    '@DatacityPublicBundle/Resources/public/js/dataportal-app/e2e-mock.js'
	    %}
	<script type="text/javascript" src="{{ asset_url }}"></script>
	{% endjavascripts %}
{% endblock %}

{% block pagecontent %}
	<section id="content" data-ng-app="datacity.datasets.dev">
	<div class="container">
		<div class="row" data-ui-view></div>
	</div>
	</section>   
{% endblock %}
