{% extends 'DatacityPublicBundle:Template:pagebody.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	{% stylesheets
		'bundles/datacitypublic/css/bodybg/bg1.css'
		filter='cssrewrite'
	%}
	    <link rel="stylesheet" href="{{ asset_url }}" />
	{% endstylesheets %}
{% endblock %}

{% block title %}Datacity -- Page documentation{% endblock %}

{% block content %}
	<section id="inner-headline">
	<div class="container">
		<div class="row">
			<div class="span4">
				<div class="inner-heading">
					<h2>Documentation</h2>
				</div>
			</div>
			<div class="span8">
				<ul class="breadcrumb">
					<li><a href="#"><i class="icon-home"></i></a><i class="icon-angle-right"></i></li>
					<li><a href="#">Documentation</a></li>
				</ul>
			</div>
		</div>
	</div>
	</section>
	<section id="content">
	<div class="container">
		<div class="row">
			<div class="span4">
				<aside class="left-sidebar">
				<div class="widget">
					<form class="form-search">
						<input placeholder="Type something" type="text" class="input-medium search-query">
						<button type="submit" class="btn btn-square btn-theme">Recherche</button>
					</form>
				</div>
				<div class="widget">
					<h5 class="widgetheading">Categories</h5>
					<ul class="cat">
						<li><i class="icon-angle-right"></i><a href="#">Présentation de l'API</a><span> (20)</span></li>
					</ul>
				</div>
				
				</aside>
			</div>
			<h3>Présentation de l'API</h1>
			<div class="tabbable tabs-left">
							<ul class="nav nav-tabs">
								<li class="active"><a href="#topone" data-toggle="tab">Contexte</a></li>
								<li><a href="#toptwo" data-toggle="tab">Explication</a></li>
								<li><a href="#topthree" data-toggle="tab">Projet</a></li>
							</ul>
							<div class="tab-content">
								<div class="tab-pane active" id="topone">
									<p>
										<strong>Augue iriure</strong> dolorum per ex, ne iisque ornatus veritus duo. Ex nobis integre lucilius sit, pri ea falli ludus appareat. Eum quodsi fuisset id, nostro patrioque qui id. Nominati eloquentiam in mea.
									</p>
									<p>
										 No eum sanctus vituperata reformidans, dicant abhorreant ut pro. Duo id enim iisque praesent, amet intellegat per et, solet referrentur eum et.
									</p>
								</div>
								<div class="tab-pane" id="toptwo">
									<p>
										 Tale dolor mea ex, te enim assum suscipit cum, vix aliquid omittantur in. Duo eu cibo dolorum menandri, nam sumo dicit admodum ei. Ne mazim commune honestatis cum, mentitum phaedrum sit et.
									</p>
								</div>
								<div class="tab-pane" id="topthree">
									<p>
										 Cu cum commodo regione definiebas. Cum ea eros laboramus, audire deseruisse his at, munere aeterno ut quo. Et ius doming causae philosophia, vitae bonorum intellegat usu cu.
									</p>
									<p>
										 Tale dolor mea ex, te enim assum suscipit cum, vix aliquid omittantur in. Duo eu cibo dolorum menandri, nam sumo dicit admodum ei. Ne mazim commune honestatis cum, mentitum phaedrum sit et.
									</p>
								</div>
							</div>
						</div>
			</div>
		</div>
	</div>
	</section> 
{% endblock %}
