{# DEPRECATED #}
{% verbatim %}

<div class="portlet box blue">
	<div class="portlet-title">
		<div class="caption">
			<i class="fa fa-reorder"></i>Gestion d'une source
		</div>
	</div>
	<div class="portlet-body form">
		<!-- BEGIN FORM-->
		<form action="#" class="form-horizontal">
			<div class="form-body">
				<h3 class="form-section">Description de la source</h3>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label class="control-label col-md-3">Titre <strong style="color:red;">*</strong></label>
							<div class="col-md-9">
								<input type="text" class="form-control" placeholder="Titre" ng-model="metaSelected.title">
							</div>
						</div>
					</div>

					<div class="col-md-6">
						<div class="form-group">
							<label class="control-label col-md-3">Couverture térritoriale <strong style="color:red;">*</strong></label>

							<div class="col-md-9">
								<button type="button" class="btn btn-default form-control" ng-model="metaSelected.coverageTerritory" data-html="1" data-animation="am-flip-x" placeholder="Choisissez la couverture territoriale" ng-options="coverage.name as coverage.name for coverage in meta.coverageTerritory" bs-select>
								</button>
							</div>
						</div>
					</div>
					<!--/span-->
				</div>
				<!--/row-->
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label class="control-label col-md-3">Catégories <strong style="color:red;">*</strong></label>
							<div class="col-md-9">
								<button type="button" class="btn btn-default form-control" ng-model="metaSelected.category" data-html="1" data-multiple="1" data-animation="am-flip-x" placeholder="Choisissez la catégorie" ng-options="category.name as category.name for category in meta.categories" bs-select>
								</button>
							</div>
						</div>
					</div>
					<!--/span-->
					<div class="col-md-6">
						<div class="form-group">
							<label class="control-label col-md-3">Fréquence</label>
							<div class="col-md-9">
								<button type="button" class="btn btn-default form-control" ng-model="metaSelected.frequency" data-html="1" data-animation="am-flip-x" placeholder="Choisissez la fréquence de mise à jour" ng-options="frequency.name as frequency.name for frequency in meta.frequencies" bs-select>
								</button>								
							</div>
						</div>
					</div>
					
				</div>
				<!--/row-->
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label class="control-label col-md-3"><label><i class="fa fa-globe"></i> Localisation  </label><strong style="color:red;">*</strong></label>
							<div class="col-md-9">
    							<input type="text" class="form-control" ng-model="metaSelected.location" ng-options="address for address in getLocation($viewValue)" placeholder="Quelle localisation est concernée par votre source ?" bs-typeahead>
							</div>
						</div>
					</div>
					
					<!--/span-->
					<div class="col-md-6">
						<div class="form-group">
							<label class="control-label col-md-3">Lien</label>
							<div class="col-md-9">
								<input type="text" class="form-control" placeholder="Lien du fichier d'où provient la source" ng-model="metaSelected.link">
								<span data-ng-if="submitEvent && meta.link" class="help-block">
									Champ obligatoire						
								</span>
							</div>
						</div>
					</div>
					<!--/span-->
				</div>
				
				<h3 class="form-section">Détails de la source</h3>
				<!--/row-->
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label class="control-label col-md-3">Données depuis le</label>
							<div class="col-md-9">
								<input type="text" class="form-control" ng-model="metaSelected.dateBegin" data-date-viewmode="years" datepicker />
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label class="control-label col-md-3">Jusqu'à</label>
							<div class="col-md-9">
								<input type="text" class="form-control" ng-model="metaSelected.dateEnd" data-date-viewmode="years" datepicker />
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="form-actions fluid">
				<div class="row">
					<div class="col-md-6">
						<div class="col-md-offset-3 col-md-9">
						</div>
					</div>
					<div class="col-md-6">
					</div>
				</div>
			</div>
		</form>
		<!-- END FORM-->
	</div>
</div>
{% endverbatim %}