{% verbatim %}
<div class="row profile-account">
	<div class="col-md-3">
        <ul class="ver-inline-menu tabbable margin-bottom-10">
            <li ng-repeat="i in settingsTabs" data-ng-class="{active:i.active}">
                <a data-ng-click="go(i.route)" data-toggle="tab"><i class="fa fa-cog"></i>{{i.heading}}</a><span class="after"></span>
            </li>
        </ul>
	</div>
	<div class="col-md-9">
		<div class="tab-content">
            <div ui-view></div>
		</div>
	</div>
	<!--end col-md-9-->
</div>
{% endverbatim %}