{% trans_default_domain "profileSettings" %}
<div id="tab_2-2" class="tab-pane">
    <form role="form" ng-submit="uploadImage()">
        <div class="form-group">
            <div class="thumbnail" style="width: 200px;">
                <img id="thumbnail-preview" src="http://www.placehold.it/310x170/EFEFEF/AAAAAA&amp;text=no+image" alt="Image Preview"/>
            </div>
            <div class="margin-top-10 fileupload fileupload-new" data-provides="fileupload">
                <div class="input-group input-group-fixed">
								<span class="btn default btn-file">
									<input id="upload-input" type="file" ng-file-select="onImageSelect($files)" class="default"/>
								</span>
                    <input ng-click="deleteImage()" class="btn red fileupload-exists" type="reset" value="{{ 'profileSettings.delete'|trans }}"/>
                </div>
            </div>
        </div>
        <div class="margin-top-10">
            <input type="submit" value="{{ 'profileSettings.send'|trans }}" class="btn green"/>
            <input ng-click="deleteImage()" class="btn default" type="reset" value="{{ 'profileSettings.cancel'|trans }}" />
        </div>
    </form>
</div>